h1.article-header {
  font-size: 45px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}

.article {
  line-height: 20px;
  font-size: 14px;
  font-family: $mainfont;
  color: $article-color-1;
}

.article-mainpicture {
  line-height: 12px;
  background: $white;
  border: 1px solid $border-gray;
  width: 466px;
  img {
    border: 5px solid $white;

  }
}
.picture-caption {
  border-bottom: 1px solid $border-gray;
  font-size: 12px;
  color: $article-color-2;
  line-height: 16px;
  padding: 6px 2px 7px;
}
.summary {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}
.byline {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid $border-gray;
  display: block;
  overflow: hidden;
  font-size: 12px;
  line-height: 14px;
  .person {
    float:left;
    width: 215px;
    a {
      @include link-colors($normal, $hover, $active, $visited, $focus);
    }
  }
  p {
  	float: right;
  }
  img {
    float: left;
    margin-right: 10px;
  }
}
.tools {
  margin-top: 5px;
  clear: both;
  height: 23px;
  img {
    float:right;
    margin-right: 10px;
    &.last {
      margin-right: 0px;
    }
  }
  p {
    display: inline;
    font-size: 12px;
    color: $article-color-2;
    float: left;
  }
}
.article  .addthis_toolbox {
  clear: both;
}


.banner {
  margin-top: 20px;
}
.paragraph {
  margin-top: 20px;
  h2 {
    font-weight: bold;
  }
  p {
    margin-bottom: 12px;
  }
  .picture {
    width: 259px;
      &.fr {
        margin-left: 10px;
      }
      &.fl {
        margin-right: 10px;
      }    caption {
      float: right;
      overflow: hidden;
      font-size: 12px;
      line-height: 12px;
    }
    img {
      border: 5px solid $white;
      padding: 5px;
      border: 1px solid $border-gray;
      background-color: $white;
    }
    .caption {
      display: block;
      clear: both;
      font-size: 12px;
      color: $article-color-2;
      padding: 6px 2px 7px;
      line-height: 16px;
      border-bottom: 1px solid $border-gray;
    }

  }
}
.linklist {
  width:50%;
  float: left;
  padding-right: 10px;
  width: 224px;
  margin-bottom: 12px;
  h3 {
    margin-bottom: 7px;
  }
  a {
    font-size: 12px;
    padding-bottom: 7px;
    display: block;
    @include hover-link;
    line-height: 14px;
  }
  &.last {
    padding-right: 0px;
    width: 234px;
  }
}
.facts {
  width: 170px;
  font-size: 11px;
  &.fr {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid $border-gray;
  }
  &.fl {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid $border-gray;
  }
  h3 {
    color: $article-color-2;
    font-weight: bold;
  }
  .content {
    color: $article-color-2;
    line-height: 16px;
    li {
      padding-left: 5px;
    }
  }
  .caption {
    display: block;
    clear: both;
    font-size: 11px;
    color: $article-color-2;
    padding: 6px 2px 7px;
    line-height: 13px;
    border-bottom: 1px solid $border-gray;
    margin-bottom: 6px;
  }
}
