.box {
  font-size: 11px;
  padding: 0;
  border: 1px solid #b1b1b1;
  margin-bottom: 10px; 
  font-family: ($mainfont);
  display: block;
  h2 {
    font-size: 17px;
    color: $black;
    text-transform: none;
    font-weight: bold;
    padding: 4px 7px 4px 7px;
    background: image-url($box-h2-bg) repeat-x top;
    display: block;
    margin: 3px;
  	 } 
	&.c1 
	{
 
		a.arrow
		{
			background-image: image-url($icon-raquo-c1) ;   
			color: $c1;
		}
		h2
		{
			background: $c1 repeat-x top; 
		 	color: $white; 
		}    
	}
	&.c2
	{	                 
		a.arrow
		{
			background-image: image-url($icon-raquo-c2) ;   
			color: $c2;
		}
		h2
		{
			background: $c2 repeat-x top; 
		 	color: $white; 
		}  
	}
  .shaddow
  {
    background: image-url($box-shadow) no-repeat bottom;
    height: 6px;
    display: block;
  }
    h3 {
      color: ($black);
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 5px;
      text-decoration: none; 
		   a {
		     font-size: 16px; 
		     font-weight: normal;
		     margin-bottom: 5px;
		     text-decoration: none;
		     @include hover-link;   
				color: $hover;
		     
			      }
		 }
		
		 
	.box-content {
	  	overflow: hidden;
      p {
        margin-bottom: 10px;
        line-height: 14px;
      }
		  .line {
		    margin: 0;
		    border-top: 1px solid $light-gray;
		    padding-bottom: 4px; }
		  .article-intro p {
		    font-size: 12px;
		    line-height: 13px;
		    line-height: 15px;
		    margin-bottom: 10px;  
				overflow: hidden;
		 } 
     .links ul {
        list-style-position: inside;
        list-style-type: none;        
        li {
          margin-bottom: 10px;
          a {
            font-size: 11px;
          }
        }
     }
	}
}


 