#main-menu {
	@include horizontal-list(0,left);      
  overflow: visible;

	a {
		display:block;
		padding-left: 15px; 
		padding-right: 15px;
		line-height: 25px;
		@include hover-link;
		color: ($menu-linkcolor);
		text-transform:uppercase;
		font-family: ($subfont);   
		font-weight: bold;   
		font-size: 11px;
	}


	li{
		padding-left:1px;
		padding-right:1px;   
		  
		background: image-url($menuli-bgimg) no-repeat 100% 0;   
		
		div {
			float: left;
			margin-left: 15px;
			margin-right: 15px;
			img {
				height: 16px;
				position: relative;
				top: 4px;
				padding-right: 8px;
				float: left;
			}	

		}
	}
	li.active {
		padding-left: image-width($activemenuli-bgimg);
		background: image-url($activemenuli-bgimg) no-repeat 0% 0; 
		margin: -3px 0 0 (- image-width($activemenuli-bgimg));  
		  
		
		a {
			background: image-url($activemenu-bgimg) no-repeat 100% 0; 
			text-decoration: underline;
			padding-left: 10px;
			padding-top: 5px;  
			padding-bottom: 2px;
			color: ($themecolor);  
			font-size: 12px;    
		}   
	}
	.container {
	  width: 1125px;
	  margin-left: auto;
	  margin-right: auto; 
	  background-color: #F5F3E6; 
	  padding-left: 10px;
    background: image-url($mainmenu-bgimg) no-repeat 0 0; 
	  height:image-height($mainmenu-bgimg) ;
	}
}

#sub-menu {
	@include horizontal-list(0,left);
	ul {
		padding-top: 5px;
		padding-left: 5px;
		li
		{
			background:transparent image-url($sub-menu) right bottom no-repeat;
			&.last, 
			&:last-child
			{
				  background:transparent ;
			}
			
		}
	}
	a {
		height:18px; 
		display:block;
		padding-left: 10px; 
		padding-right: 10px;
		padding-top: 4px;
		@include hover-link;
		color: ($menu-linkcolor);
		font-family: ($subfont);
		font-weight: bold;
	}
	.active {
		color: ($themecolor);
	}
	.container {
	  width: 1124px;
	  margin-left: auto;
	  margin-right: auto; 
	  background-color: #ffffff; 
	  padding-left: 10px;
	  height: 26px;
	}
	.submenu-bottom{
		//background: url(../images/vertical_shaddow.jpg) no-repeat;
		height:23px;
		margin-left:auto;
		margin-right:auto;
		width:1134px; 
		background-color: #fff;		

	}

}
